<ion-header [translucent]="true">

    <ion-toolbar color="primary">

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>

            {{ nombreLista }}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header>

            <ion-item>
                <ion-label position="floating">Nombre de la Lista</ion-label>
                <ion-input [(ngModel)]="nombreLista" name="nombreLista"></ion-input>
            </ion-item>

        </ion-card-header>



        <ion-card-content>

            <ion-item>
                <ion-label position="floating">Item:</ion-label>
                <ion-input (keyup.enter)="agregar()" [(ngModel)]="nombreItem" name="nombreItem"></ion-input>
            </ion-item>

            <ion-button expand="block" color="success" (click)="agregar()">Agregar</ion-button>

        </ion-card-content>


    </ion-card>
    <!--items-->

    <ion-card *ngIf="items.length > 0">
        <ion-card-header>
            <h3>
                <p style="color:white;">Items Agregados</p>

            </h3>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let item of items; let i = index">
                    <ion-button color="dark" clear> {{ item.nombre }}</ion-button>
                    <ion-button color="danger" (click)="borrarItem(i)">
                        <ion-icon name="trash-outline"></ion-icon>
                        Borrar Item
                    </ion-button>
                </ion-item>

            </ion-list>
        </ion-card-content>

    </ion-card>
    <ion-button expand="block">
        <ion-icon name="add-circle-outline"></ion-icon>
        Agregar Lista
    </ion-button>

</ion-content>