<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            {{ nombreLista }}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header>

            <ion-item>
                <ion-label position="floating">Nombre de la Lista</ion-label>
                <ion-input [(ngModel)]="nombreLista" name="nombreLista"></ion-input>
            </ion-item>

        </ion-card-header>



        <ion-card-content>

            <ion-item>
                <ion-label position="floating">Item:</ion-label>
                <ion-input [(ngModel)]="nombreItem" name="nombreItem"></ion-input>
            </ion-item>
            <ion-button color="success">Agregar</ion-button>

        </ion-card-content>


    </ion-card>
    <!--items-->

    <ion-card>
        <ion-card-header>
            <h3>Items Agregados</h3>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-button color="warning" clear>Nombre del item</ion-button>
                    <ion-button color="danger">
                        <ion-icon name="trash-outline"></ion-icon>
                        Borrar Item
                    </ion-button>
                </ion-item>

            </ion-list>
        </ion-card-content>

    </ion-card>
    <ion-button expand="block">
        <ion-icon name="add-circle-outline"></ion-icon>
        Agregar Lista
    </ion-button>

</ion-content>