<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            Lista de Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card *ngFor="let lista of _listaDeseos.listas; let i = index">

        <ion-item routerLink="/detalle">
            <h2>
                <p style="color:white;">{{ lista.nombre }}</p>

            </h2>
            <ion-note slot="end">
                {{ lista.items.length}} items
            </ion-note>
        </ion-item>


        <ion-list>
            <ion-item routerLink="/detalle" *ngFor="let item of lista.items | slice:0:2">
                <ion-icon *ngIf="!item.completado" name="square-outline"> </ion-icon>
                <ion-icon *ngIf="item.completado" name="checkbox-outline"></ion-icon>
                {{item.nombre}}

            </ion-item>

            <ion-button expand="block" color="black" *ngIf="lista.items.length > 2">

                <ion-icon name="arrow-down-circle-outline"></ion-icon>

            </ion-button>
        </ion-list>


    </ion-card>
    <!-- <li *ngFor="let lista of _listaDeseos.listas">-->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/agregarp">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>